body {
  font-family: "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  word-wrap: break-word;
  padding: 3px 24px;
}

p {
  margin: 4px;
  font-size: 1.5em;
}

h1,
h2,
h3 {
  color: #1980d7;
}

ul#wordlist {
  margin: 20px 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
  list-style: none;
  float: none;
  clear: both;
  overflow: hidden;
}

ul#wordlist > li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 20px 0 0;
}

ul#wordlist > li span.word {
  color: black;
  cursor: pointer;
  padding: 0;
}

ul#wordlist > li span.word.highlight {
  color: #ddd;
}

ul#wordlist > li span.lookup {
  color: #ccc;
  font-size: 0.5em;
  cursor: pointer;
}

ul#wordlist > li span.lookup:hover {
  color: blue;
}

ul#definitions {
  margin: 0;
  padding: 5px;
  list-style: none;
}

ul#definitions > li {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

ul#definitions > li span.word {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

ul#definitions > li > ol {
  margin: 0;
  padding: 0 0 0 25px;
}

ul#definitions > li > ol > li {
  padding: 4px 0;
}

ul#definitions > li span.attribution {
  font-size: 0.8em;
  color: #999;
}

ul#definitions > li span.attribution a {
  color: #666;
}

#ikijibiki {
  font-weight: bold;
  font-size: 1.5em;
  padding: 16px 0;
}

#footer {
  margin: 20px 0;
}

#according {
  display: none;
  font-size: 1.5em;
}

#according #wordcount {
  color: #ff5401;
  font-weight: bold;
}
