body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  word-wrap: break-word;
  padding: 3px;
}

p { 
  margin: 4px; 
  font-size:16px;
}

h1, h2, h3 {
  color: #1980D7;
}
#wordlist {
  margin: 20px 0;
  font-size:16px; 
  font-weight:bolder;
  border-style:  solid;
  border-width: 1px;
  border-color: #DDD;
  padding: 10px;
}


ul#definitions {
  margin: 0; 
  padding: 5px;
  list-style: none;
}

ul#definitions > li {
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #DDD;
}

ul#definitions > li span.word {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

ul#definitions > li > ol {
  margin: 0;
  padding: 0 0 0 25px;
}

ul#definitions > li > ol > li {
  padding: 4px 0;
}


ul#definitions > li span.attribution {
  font-size: .8em;
  color: #999;
}

ul#definitions > li span.attribution a {
  color: #666;
}


.word { 
  color:#1980D7;
  cursor: pointer; 
}

.expando {
 cursor: pointer;  
}

.highlight { 
  background:yellow; 
}

#ikijibiki {
  font-weight: bold;
}

#wordcount {
  font-weight: bold;
}

.wn_small_heart {
  height: 15px;
}
#footer {
  margin: 20px 0;
}

#according {
  display: none;
}